body {
    margin: 0;
}

:root {
    --accent1: rgb(8, 74, 194);
    --accent2: rgb(37, 118, 232);

    --radius: 0.625rem;
    --background: oklch(1, 0, 0);
    --background-hover: #f0f0f0;
    --border: #cccccc;
    --green: #00e793;
    -webkit-user-select: none;

    --sb-font-weight: 500;
    --sb-font-size: 1rem;

    padding: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
    font-size: 0.8rem;
}

.root {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

button {
    --wails-draggable: no-drag;
    background-color: var(--background);
    border: 1px solid #FFFFFF;
    padding: 10px;
    cursor: pointer;
    border-radius: var(--radius);

    font-weight: var(--sb-font-weight);
    font-size: var(--sb-font-size);

    transition: background-color 0.2s ease;
}

button:hover {
    background-color: var(--background-hover);
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.bottom {
    align-items: flex-end;
}

.badge {
    background-color: var(--accent1);
    border-radius: var(--radius);
    color: #FFFFFF;
    padding: 0.25rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-left: 0.3rem;
}

.badge p {
    font-size: 0.9rem;
    font-weight: 500;
}

.m0 {
    margin: 0;
}

.ma {
    margin: auto;
}

.header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    margin-top: 1.5rem;
}

.header h1{
    font-size: 3rem;
    line-height: 1;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.no-top-margin {
    margin-top: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border);
    padding: 0.5rem;
    height: 100%;
    padding-top: 3rem;
    justify-content: space-between;
}

.sidebar button {
    margin-bottom: 0.25rem;
}

.sidebar .section {
    display: flex;
    flex-direction: column;
}

.flex1 {
    flex: 1;
}

.topbar {
    --wails-draggable: drag;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.topbar div {
    --wails-draggable: no-drag;
    margin: 0.25rem;
    margin-left: auto;
}

.pageContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.accent {
    background-color: var(--accent1);
    color: #FFFFFF;
}

input {
    padding: 10px;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    box-shadow: 0 0 3px var(--border);
    outline: none;
    width: 100%;

    font-weight: var(--sb-font-weight);
    font-size: var(--sb-font-size);
}

input::content {
    font-weight: var(--sb-font-weight);
    font-size: var(--sb-font-size);
}

input::placeholder {
    color: var(--border);
    font-weight: var(--sb-font-weight);
    font-size: var(--sb-font-size);
}

.check-btn {
    display: inline-flex;
    margin-left: 4px;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.check-btn span {
    padding-left: 4px;
}

.check-btn:hover {
    background-color: var(--accent2);
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}

.form-div p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    font-weight: var(--sb-font-weight);
    font-size: var(--sb-font-size);
}

.input-button {
    display: inline-flex;
    flex: 1;
}

.banner {
    border-radius: var(--radius);
    display: inline-flex;
    flex: 1;
    padding: 1rem;
    align-items: center;
    justify-content: left;

    font-weight: var(--sb-font-weight);
    font-size: 16px;
}

.banner span {
    margin-left: 10px;
}

.ineligible {
    --error: #f2666b;
    --error2: rgba(92, 18, 18, 0.9);

    background-color: var(--error);
    border: 1px solid var(--error2);
    box-shadow: 0px 0px 3px var(--error);
    color: var(--error2);
}

.eligible {
    --success: #cbf99a;

    background-color: var(--success);
    border: 1px solid rgb(0, 255, 0);
    box-shadow: 0px 0px 3px var(--success);
    color: rgb(12, 77, 29)
}

.flip-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: var(--accent1);
    color: #FFFFFF;
    border: 0;
}

.flip-btn:hover {
    background-color: var(--accent2);
}

.flip-btn span {
    margin-left: 4px;
}

.cancel {
    background-color: #cccccc;
    color: #383838;
}

.cancel:hover {
    background-color: #929292;
}

.colorful-card {
    display: flex;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.colorful-card::after, .colorful-card::before {
    border-radius: var(--radius);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), rgb(255, 255, 255), rgb(44, 44, 211));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    animation: 1s spin linear infinite;
}

.colorful-card::before {
    filter: blur(0.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.button-row {
    gap: 16px;
    justify-content: right;
}

.semesters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.flip-instance {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border);
    background-color: rgba(255, 255, 255, 0);
    border-radius: var(--radius);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 16px;

    font-weight: var(--sb-font-weight);
    font-size: var(--sb-font-size);

    transition: border-color 0.1s ease;
    transition: background-color 0.1s ease;
}


.flip-instance:has(input:checked) {
    border: 1px solid var(--accent1);
    background-color: rgba(8, 74, 194, 0.2);
}

.flip-instance .selection {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.flip-instance button {
    border-radius: var(--radius);
    border: 1px solid var(--border);
    box-shadow: 0px 0px 2px var(--border);
    padding: 4px;
    width: 30px;
    height: 30px;
}

.semesters-header{
    display: inline-flex;
    align-items: center;
    width: 100%;

    white-space: nowrap;
    margin-right: 1rem;
}

.semesters-actions {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;

    font-weight: var(--sb-font-weight);
    font-size: var(--sb-font-size);
}

.select-all {
    display: inline-flex;
    align-items: center;
    justify-content: left;
}

button.ineligible {
    display: inline-flex;
    gap: 0.5rem;
}

.wide-center {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.semester-date-settings {
    display: inline-flex;
    gap: 3em;
    margin-bottom: 1.5rem;
}

.semester-date-settings h4 {
    margin: 0;
    margin-bottom: 0.5rem;

    font-weight: 500;
    font-size: 16px;
}

button.date-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 0px 2px var(--border);
    
    font-family: inherit; 
    font-weight: 500;
    font-size: var(--sb-font-size);
}

h1.page-header {
    margin-bottom: 1cm;
}

.no-margin {
    margin: 0;
}

.close-btn:hover {
    background-color: #e82930;
}

.calendar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    box-shadow: 0px 0px 2px var(--border);
    
    font-family: inherit; 
    font-weight: 500;
    font-size: var(--sb-font-size);
}

.calendar button {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    padding: 0;
}

.calendar .primary:hover {
    background-color: #FFFFFF;
}

.calendar .iconContainer {
    color: var(--accent1);
}

.calendar .primary {
    font-weight: 600;
}

.calendar .c-topbar {
    display: inline-flex;
    justify-content: space-between;
}

.debug-log {
    padding: 20px;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: auto;
    background-color: #f9f9f9;

    font-family: "Google Sans Code";
    font-size: 13px;
}

.log-entry {
    display: grid;
    grid-template-columns: 160px 80px 1fr;
    gap: 1rem;

    margin-bottom: 0.33rem;
}

.log-entry .c1 {
    opacity: 0.7;
}

.log-entry .info {
    color: var(--accent1);
}

.log-entry .success {
    color: #03cb50;
}

.log-entry .error {
    color: #e82930;
}

.calendar .footer {
    display: inline-flex;
    justify-content: end;
}

.calendar .footer button {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--accent1)
}

.calendar-week-row {
    display: inline-flex;
}

.calendar-button {
    padding: 2px;
}

.gray .calendar-button{
    color: #cccccc;
    cursor: default;
}